@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: peru;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(248, 141, 0);
    padding: 20px;
}

main {
    background-color: white;
    padding: 20px;
    width: 640px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 500px;

}


h1 {
    color: white;
    text-align: center;
}

ul {
    list-style-type: circle;
    list-style: inside;
    
}

li.bea {
    color: red;
}

a {
    color: rgb(240, 144, 18);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    color: antiquewhite;
}

footer {
    background-color: blueviolet;
    padding: 20px;

}

footer p {
    text-align: center;
    color: white;
}